<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Used Space</p>
                        <h3 class="title">49/50<small>GB</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card" >
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Top Events</h4>
                    <p class="category">Newest event on 24th November, 2019</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>Started</th>
                                <th>Msg</th>
                                <th>Finished</th>
                                <th>Folder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/24/2019 9:01 PM</td>
                                <td>Transaction run</td>
                                <td>11/24/2019 9:10 PM</td>
                                <td>Latest01</td>
                            </tr>
                            <tr>
                                <td>11/24/2019 9:13 PM</td>
                                <td>Product run</td>
                                <td>11/24/2019 9:15 PM</td>
                                <td>Latest01</td>
                            </tr>
                            <tr>
                                <td>11/24/2019 9:17 PM</td>
                                <td>Customer run</td>
                                <td>11/24/2019 9:21 PM</td>
                                <td>Latest01</td>
                            </tr>
                            <tr>
                                <td>11/24/2019 9:26 PM</td>
                                <td>Detail run</td>
                                <td>11/24/2019 9:27 PM</td>
                                <td>Latest01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
